@using TeduCoreApp.Data.ViewModels.Product
@model List<ProductCategoryViewModel>
<nav>
    <div class="container">
        <div class="nav-inner">
            <div class="mm-toggle-wrap hidden-sm hidden-md hidden-lg">
                <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Danh mục</span> </div>
            </div>
            <!-- BEGIN NAV -->
            <ul id="nav" class="hidden-xs">
                <li class="drop-menu">
                    <a href="/index.html" class="level-top active"><span>Home</span></a>
                    <ul>
                        <li><a href="/promotionprice.html"><span>Khuyến mãi</span></a></li>
                        <li><a href="/checkout.html"><span>Thanh toán</span></a></li>
                    </ul>
                </li>
                <li class="drop-menu">
                    <a href="#"> <span>Sản phẩm</span> </a>
                    <ul>
                        @{
                            var parent = Model.Where(x => x.ParentId == null);
                            foreach (var item in parent)
                            {
                                if (Model.Except(parent).Where(x => x.ParentId == item.Id).Count() == 0)
                                {
                                    var url = "/" + item.SeoAlias + ".pc-" + item.Id + ".html";
                                    <li> <a href="@url"> <span>@item.Name</span> </a> </li>
                                }
                                else
                                {
                                    var child = Model.Except(parent).Where(x => x.ParentId == item.Id);
                                    <li class="sub-cat">
                                        <a href="#" style="pointer-events:none"> <span>@item.Name</span> </a>
                                        <ul>
                                            @foreach (var subItem in child)
                                            {
                                                var subUrl = "/" + item.SeoAlias + ".pc-" + subItem.Id + ".html";
                                                <li> <a href="@subUrl"> <span>@subItem.Name</span> </a> </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </li>

                @{
                    var parentDisplays = Model.Where(x => x.ParentId == null && x.HomeFlag == true).OrderBy(x => x.HomeOrder).Take(6);
                    foreach (var parentDisplay in parentDisplays)
                    {
                        if (Model.Except(parentDisplays).Where(x => x.ParentId == parentDisplay.Id).Count() == 0)
                        {
                            <li class="drop-menu">
                                @{
                                    var url = "/" + parentDisplay.SeoAlias + ".pc-" + parentDisplay.Id + ".html";
                                }
                                <a href="@url"> <span>@parentDisplay.Name</span> </a>
                            </li>

                        }
                        else
                        {
                            <li class="drop-menu">
                                @{
                                    var childDisplays = Model.Except(parentDisplays).Where(x => x.ParentId == parentDisplay.Id);
                                }
                                <a href="#" style="pointer-events:none"> <span>@parentDisplay.Name</span> </a>
                                <ul>

                                    @foreach (var subDisplay in childDisplays)
                                    {
                                        var subDisplayUrl = "/" + subDisplay.SeoAlias + ".pc-" + subDisplay.Id + ".html";
                                        <li> <a href="@subDisplayUrl"> <span>@subDisplay.Name</span> </a> </li>
                                    }
                                </ul>
                            </li>

                        }
                    }
                }

                <li class="mega-menu"> <a class="level-top" href="/blog.html"><span>Blog</span></a> </li>
            </ul>
        </div>
    </div>
</nav>