@using TeduCoreApp.Data.ViewModels.Product
@model List<ProductCategoryViewModel>
<div id="jtv-mobile-menu">
    <ul>       
        <li>
            <a href="/index.html">Home</a>
            <ul>
                <li><a href="/promotionprice.html"><span>Khuyến mãi</span></a></li>            
            </ul>
        </li>
        <li>
            <a href="#">Sản phẩm</a>
            <ul>
                @{
                    var parent = Model.Where(x => x.ParentId == null);
                    foreach (var item in parent)
                    {
                        if (Model.Except(parent).Where(x => x.ParentId == item.Id).Count() == 0)
                        {
                            var url = "/" + item.SeoAlias + ".pc-" + item.Id + ".html";
                            <li> <a href="@url"> <span>@item.Name</span> </a> </li>
                        }
                        else
                        {
                            var child = Model.Except(parent).Where(x => x.ParentId == item.Id);
                            <li>
                                <a href="#"> <span>@item.Name</span> </a>
                                @foreach (var subItem in child)
                                {
                                    var subUrl = "/" + item.SeoAlias + ".pc-" + subItem.Id + ".html";
                                    <ul><li> <a href="@subUrl"> <span>@subItem.Name</span> </a> </li></ul>
                                }
                            </li>
                        }
                    }
                }
            </ul>
        </li>

        @{
            var parentDisplays = Model.Where(x => x.ParentId == null && x.HomeFlag == true).OrderBy(x => x.HomeOrder).Take(4);
            foreach (var parentDisplay in parentDisplays)
            {
                if (Model.Except(parentDisplays).Where(x => x.ParentId == parentDisplay.Id).Count() == 0)
                {
                    <li>
                        @{
                            var url = "/" + parentDisplay.SeoAlias + ".pc-" + parentDisplay.Id + ".html";
                        }
                        <a href="@url"> <span>@parentDisplay.Name</span> </a>
                    </li>

                }
                else
                {
                    <li>
                        @{
                            var childDisplays = Model.Except(parentDisplays).Where(x => x.ParentId == parentDisplay.Id);
                        }
                        <a href="#"> <span>@parentDisplay.Name</span> </a>
                        <ul>

                            @foreach (var subDisplay in childDisplays)
                            {
                                var subDisplayUrl = "/" + subDisplay.SeoAlias + ".pc-" + subDisplay.Id + ".html";
                                <li> <a href="@subDisplayUrl"> <span>@subDisplay.Name</span> </a> </li>
                            }
                        </ul>
                    </li>

                }
            }
        }
    </ul>
    <div class="jtv-top-link-mob">
        <ul class="links">
            @if (User.Identity.IsAuthenticated)
            {
                <li><a title="Thông tin" href="/account_page.html">Tài khoản</a> </li>
            }
            else
            {
                <li class="last"><a class="aSendLoginGet" title="Đăng nhập" href="#"><span>Đăng nhập</span></a> </li>
            }
            <li><a title="Yêu thích" href="/wishlist.html">Yêu thích</a> </li>
            <li><a title="Thanh toán" href="/checkout.html">Thanh toán</a> </li>
            <li><a title="Blog" href="/blog.html"><span>Blog</span></a> </li>
        </ul>
    </div>
</div>