@using TeduCoreApp.Utilities.Dtos
@using TeduCoreApp.Data.ViewModels.Product
@{
    ViewData["Title"] = Model.PageIndex == 1 ? "Tìm kiếm sản phẩm" : "Tìm kiếm sẩn phẩm-trang " + Model.PageIndex;
    ViewData["MetaDescription"] = Model.PageIndex == 1 ? "Nội dung tìm kiếm sản phẩm: " + (string)ViewBag.SearchName : "Nội dung tìm kiếm sản phẩm: " + (string)ViewBag.SearchName + "-trang " + Model.PageIndex;
    ViewData["MetaKeyword"] = Model.PageIndex == 1 ? "Từ khóa tìm kiếm sản phẩm: "+ (string)ViewBag.SearchName : "Từ khóa tìm kiếm sản phẩm: "+(string)ViewBag.SearchName +"-trang " + Model.PageIndex;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var searchNames = (string)ViewBag.SearchName;
    var domainApi = (string)ViewBag.DomainApi;
}
@model WebResultPaging<ProductViewModel>
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a href="/index.html" title="Go to Home Page">Home</a> <span>/</span> </li>
                    <li> <strong>@searchNames</strong> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col2-left-layout">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-push-4 col-md-9 col-md-push-3">
                <article>
                    <div class="category-products">
                        <ul class="products-grid">
                            @foreach (var item in Model.Items)
                            {
                                var url = "/" + item.SeoAlias + ".p-" + item.Id + ".html";

                                <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a class="product-image" title="@item.Name" href="@url"> <img class="img-responsive" alt="@item.Name" src="@domainApi@item.ThumbnailImage"> </a>
                                                <div class="action">  <a href="@url" title="Chi tiết"><i class="fa fa-search"></i></a> <a class="btnWistlistAddItem" data-productid="@item.Id" href="#" title="Yêu thích"><i class="fa fa-heart-o"></i></a>  </div>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"> <a title="@item.Name" href="@url"> @item.Name </a> </div>
                                                <div class="item-content">
                                                    <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                    <div class="item-price">
                                                        <div class="price-box">
                                                            @if (item.PromotionPrice.HasValue)
                                                            {
                                                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> @item.PromotionPrice@item.Unit </span> </p>
                                                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> @item.Price@item.Unit </span> </p>
                                                            }
                                                            else
                                                            {
                                                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> @item.Price@item.Unit </span> </p>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </article>
                <!--	///*///======    End article  ========= //*/// -->
                <ul class="pagination col-md-12 col-sm-12">

                    @if (Model.TotalRows > 1)
                    {
                        var startPageIndex = Math.Max(1, Model.PageIndex - 8 / 2);
                        var endPageIndex = Math.Min(Model.TotalPages, Model.PageIndex + 8 / 2);
                        @if (Model.PageIndex > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?searchProduct=@searchNames&page=@(Model.PageIndex - 1)&pageSize=@Model..PageSize" tabindex="-1">Previous</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                        }
                        for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (i == Model.PageIndex)
                            {
                                <li class="page-item active">
                                    <a class="page-link" href="?searchProduct=@searchNames&page=@i&pageSize=@Model.PageSize">@i<span class="sr-only">(current)</span></a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" href="?searchProduct=@searchNames&page=@i&pageSize=@Model.PageSize">@i</a></li>
                            }
                        }
                        @if (Model.PageIndex < Model.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?searchProduct=@searchNames&page=@(Model.PageIndex + 1)&pageSize=@Model.PageSize">Next</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        }


                    }
                </ul>
            </div>
        </div>
      
    </div>
</section>
<!-- Main Container End -->